* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #171818;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    color: white;
    font-family: 'Abril Fatface';
}

.nav-header {
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

.line1, .line2 {
    background-color: white;
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    pointer-events: none;
}

.slide {
    color: white;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
}

.hero-img {
    position: relative;
    flex: 1;
    flex-basis: 25rem;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mountain-span {
    color: rgb(86, 124, 228);
}

.hike-span {
    color: rgb(167, 110, 231);
}

.fashion-span {
    color: rgb(255, 139, 93);
}

.hero-desc h2 {
    font-family: 'Abril Fatface';
    font-size: 5rem;
}

.hero-desc p {
    padding: 3rem 0;
    font-size: 1.5rem;
    color: rgb(223, 223, 223);
}

.explore {
    align-self: flex-start;
    padding: 1rem 2rem;
    background: none;
    border: none;
    font-size: 1rem;
    border: 1px solid white;
    text-decoration: none;
    cursor: pointer;
}

.burger {
    cursor: pointer;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
}

.nav-links {
    font-size: 3.5rem;
    flex-basis: 30rem;
}

.nav-links h3 {
    padding: 3rem 1rem;
}

.contact {
    flex-basis: 30rem;
    padding: 1rem;
}

.contact h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.reveal-img, .reveal-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb;
    left: 0;
    top: 0;
    background: #171818;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
}